.succes-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modalsucces-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    pointer-events: none;
    z-index: 1050;
    overflow: hidden;
}

.succes-modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.succes-modal p {
    margin: 10px 0;
    color: #666;
}

.succes-modal button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem;
    transition: background-color 0.3s;
}

.succes-modal button:hover {
    background-color: #0056b3;
}
