.access-denied {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dadada;
    color: #721c24;
    text-align: center;
    font-family: Arial, sans-serif;
}

.access-denied h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.access-denied p {
font-size: 1.2rem;
margin-bottom: 2rem;
}

.btn-go-auth {
display: inline-block;
padding: 0.75rem 1.5rem;
font-size: 1rem;
color: #fff;
background-color: #721c24;
border: none;
border-radius: 0.5rem;
text-decoration: none;
transition: background-color 0.3s;
}

.btn-go-auth:hover {
background-color: #5a1b1f;
}