/* MODAL CREATE AND EDIT */
.modal-product {
    background: #e5e3dc;
    padding: 2rem 1.5rem;
    border-radius: 8px;
    margin: 0.5rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width:65%;

}
.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal__button-close {
    position: absolute;
    top: 20px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: #333;
    z-index: 1001;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

.form h3{
    color: #a08ba0;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.3rem 0;
}

.form label {
    margin-bottom: 0.2rem;
    text-align: left;
    font-size: 0.9rem;
    color: #242424;
}

.form input, select {
    background-color: transparent;
    border-radius: 7px;
    width: 100%;
    padding: 0.7rem;
    font-size: 0.9rem;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0rem;
    border:1px solid rgb(167, 167, 167);
}

.modal-product button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding:  0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1rem auto 0 auto;
    display: block;
}

.modal-product button:hover{
    background-color: #0056b3;
}

.modal-product button:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}

.form__error-messagess {
    padding: 1rem;
    border-radius: 4px;
}

.p__message {
    margin: 0.3rem;
    border-radius: 4px;
    text-align: center;
}

.p__message-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.p__message-error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

/* MODAL DELETE */

.modal-delete{
    text-align: center;
    margin:1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding:3rem;
    max-width: 500px;
    margin: auto;
    position: relative;
}

.modal-delete-overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__content-delete{
    text-align: center;
    margin:1rem;
}

.modal__content-delete h3 {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #333;
}

.modal__content-delete button{
    padding: 0.6rem 1.2rem ;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #aaa0aa;
    cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .modal-product {
        padding: 1rem;
        max-width: 500px;
        width: 80%;
    }
}
