.userProfile{
    padding: 0.5rem ;
    margin: 0rem auto;

}

.profile h3 {
    text-align: center;
    color: #aaa0aa;
    font-weight: bold;
    font-size: 1.0rem;
}

.profile__details strong{
    font-size: 1.0rem;
}

.profile__details input{
    padding: 0.5rem;
    margin:0.2rem;
    width: 100%;
    border:none;
    font-size: 15px;
    background-color: transparent;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.profile__details p{
    color: #333;
    font-size: 1rem;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.button-edit{
    padding: 0.6rem;
    font-size: 0.7rem;
    border-radius: 10px;
    width: 15%;
    background-color: #f1ede9;
    border: 1px solid #aaa0aa;
}

.button-save, .button-cancel, .button-create{
    padding: 0.5rem;
    font-size: 0.7rem;
    border-radius: 10px;
    width: 30%;
    background-color: #f1ede9;
    border: 1px solid #aaa0aa;
}

.button-create{
    width: 20%;
    margin-bottom: 0.6rem;
}

.button-edit:hover, .button-cancel:hover, .button-save:hover, .button-create:hover{
    cursor: pointer;
    background-color: #aaa0aa;
}

.required {
    color: red;
    font-size: 1.2rem;
    margin-left: 0.2rem;
}

.p_notprofile{
    font-size: 0.8rem;
}

@media (min-width: 1025px) {
    .userProfile {
        padding: 0.2rem;
        margin: 1rem auto;
    }

    .profile h3 {
        font-size: 1.1rem;
    }

    .profile__details input {
        font-size: 16px;
    }

    .button-container {
        gap: 1rem;
    }

    .button-edit, .button-save, .button-cancel, .button-create {
        font-size: 0.7rem;
    }

    .button-create {
        width: 25%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .userProfile {
        padding: 0.5rem;
        margin: 0.5rem auto;
    }

    .profile h3 {
        font-size: 1.0rem;
    }

    .profile__details input {
        font-size: 15px;
    }

    .button-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .button-edit, .button-save, .button-cancel, .button-create {
        font-size: 0.8rem;
        width: 40%;
    }

    .button-create {
        width: 30%;
    }
}
@media (max-width: 767px) {
    .userProfile {
        padding: 0.5rem;
        margin: 0.5rem auto;
    }

    .profile h3 {
        font-size: 1rem;
    }

    .profile__details input {
        font-size: 14px;
    }

    .button-container {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center; 
    }

    .button-edit, .button-save, .button-cancel, .button-create {
        font-size: 0.7rem;
        width: 60%;
    }

    .button-create {
        width: 30%;
    }

    .required {
        font-size: 1rem;
    }

    .p_notprofile {
        font-size: 1.1rem;
    }
}