.header {
  background-color: #ebeae7;
}

.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;;
  align-items: center;
}

.header__container-logo {
  padding: 1.2rem;
  margin-left: 2rem;
  font-family: 'Amatic SC';
  font-size: 4rem;
  color: #404c4c;
}

.header__container-navbar {
  padding: 0.5rem;
  justify-content: center;
  margin: 0.5rem;
}

.header__container-navbar ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-right: 1.3rem;
  list-style: none;
}

.header__container-navbar li{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0.9rem;
  font-size: 0.8rem;
  color: #404c4c;
  margin:0.7rem;
}

.header__container-navbar li:hover{
  background-color: #c9c9c9;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.icon{
  margin-right: 0.5rem;
  font-size: 1.1rem;
  color: #818181;
}

/* Media queries*/

@media (max-width: 1024px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__container-logo {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .header__container-navbar {
    width: 100%;
  }

  .header__container-navbar ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .header__container-navbar li {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .header__container-logo {
    font-size: 4rem;
  }

  .header__container-navbar li {
    padding: 0.8rem;
  }
}