.confirm-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: auto;
    padding: 3rem;
    background-color: #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

.confirm-modal h2{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
}

.confirm-modal p{
    margin: 0.5rem 0;
    font-size: 0.8rem;
    color: #666;
}

.confirm-modal strong{
    font-size: 1.0rem;
}


.confirm-modal-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.4rem;
    }

.confirm-modal ul{
    list-style: none;
    padding: 0;
    margin: 0.5;
}

.confirm-modal ul li {
    margin: 0.5rem 0;
    color: #333;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #c5c5c5;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.confirm-modal-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    }

.btn-confirm, .btn-cancel {
    color: white;
    border: none;
    border-radius: 5px;
    padding:0.7rem 1.4rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 0;
}

.btn-confirm {
    background-color: #5ca15e;
}

.btn-cancel {
    background-color: #e67169;
}

.btn-confirm:hover {
    background-color: #48794b;
    transform: scale(1.05);
}

.btn-cancel:hover {
    background-color: #e53935;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .confirm-modal {
        max-width: 80%;
        padding: 1rem;
    }

    .confirm-modal h2 {
        font-size: 1.2rem;
    }

    .confirm-modal p {
        font-size: 0.8rem;
    }

    .confirm-modal ul li {
        font-size: 0.8rem;
    }

    .confirm-modal strong{
        font-size: 0.8rem;
    }


    .confirm-modal-buttons {
        flex-direction: row;
        gap: 0.5rem;
    }

    .btn-confirm, .btn-cancel {
        border-radius: 5px;
        padding:0.5rem 1rem;
        font-size: 0.8rem;
        width: 35%;
    }
}


@media (max-width: 480px) {
    .confirm-modal {
        padding: 1rem;
    }

    .confirm-modal h2 {
        font-size: 1.2rem;
    }

    .confirm-modal p {
        font-size: 0.9rem;
    }

    .confirm-modal ul li {
        font-size: 0.8rem;
    }

    .confirm-modal-buttons {
        flex-direction: column;
        gap: 0.5rem;
    }

    .btn-confirm, .btn-cancel {
        font-size: 14px;
        padding: 8px 16px;
    }
}